html {
	font-size: 100%;

}

*,
*::after,
*::before {
  box-sizing: border-box; }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }

html {
 	font-size: 100%;
 	@media screen and (max-width: 768px) {
		font-size: 85%;
	}


}

body {
	
background: #2098d1;

  font-size: 1em;
  font-weight: 400;
  font-family: roboto;
  line-height: 1.05;
}

@mixin border-radius($raduis){
	-webkit-border-radius: $raduis;
	   -moz-border-radius: $raduis;
	    -ms-border-radius: $raduis;
	     -o-border-radius: $raduis;
	        border-radius: $raduis;

}

.page-wrapper {
	
	 max-width: 1224px;
	max-width: 1334px;
	margin: 0 auto;
	background: #2098d1;

	overflow: hidden;
}

.header {

	&__cell {
		width: 85%;
		margin: 0 auto;
		padding-top: 2em;
		cursor: pointer;

		@media screen and (max-width: 1024px) {
			width: 95%;
		}
		

		
	}
	

	&__logo {
		float: left;

		@media screen and (max-width: 425px) {
			float: none;
		}
	}

	&__wrapper-logo {
		display: block;
		text-decoration: none;

		&:hover .logo__icon {
			border-color: #045F8C;
		}

	}

	&__nav-menu {
		float: right;

		@media screen and (max-width: 425px) {
			float: none;

		}
	}

}




.logo {

	&__icon {
		font-size: 1.6em;
		font-weight: bold;
		color: #fff;
		text-transform: uppercase;
		border: 6px solid #fff;
		width: 50px;
		height: 50px;
		text-align: center;
		padding-top: .25em;
		@include border-radius(50%);
		float: left;
		margin-right: .4em;
		transition: all .2s;

		// &:hover {
		// 	border-color: #045F8C;
		// }


	}

	&__wrap1 {
		font-size: .85em;

	}

	&__wrap2 {

	}

	&__name {
		float: left;
		 @media screen and (max-width: 375px) {
			padding-top: 1em;
		}
	}

	&__name-title {
		color: #fff;
		text-transform: uppercase;
		font-size: 1.3em;
		font-weight: bold;
		margin-bottom: .3em;
		padding-top: .1em;


	}

	&__name-subtitle {
		font-size: 1em;
		text-transform: capitalize;
		color: #fff;

		 @media screen and (max-width: 375px) {
			display: none;
		}

	} 

	&__icon-bar {
		font-size: 2.5em;
		color: #fff;
		display: none;
		float: right;
		margin-left: 30px;

		@media screen and (max-width: 425px) {
			display: block;
		}

	}

}



.icon-btn-active {
	color: #000;
}



.nav-menu  {

	&__list {
		padding: 0;
		margin: 0;
		list-style: none;
		margin-top: 1em;

		@media screen and (max-width: 425px) {
			width: 100%;
			margin-top: 20px;
			display: none;
			background: #000;

		}

	}

	&__item {
		float: left;
		margin-left: 2em;
		border-bottom: 2px solid rgba(255,255,255,0);

		&:hover {
			border-bottom: 2px solid rgba(255,255,255,1);
		}

		@media screen and (max-width: 425px) {
			float: none;
			width: 100%;
			border-bottom: 1px solid #333;
			padding: 1em 0;
			margin-left: 0;
			background: #000;

		}

	
	}

	&__link {
		color: #fff;
		font-size: .95em;
		font-weight: 700;
		display: block;
		text-decoration: none;
		text-transform: uppercase;

		@media screen and (max-width: 425px) {
			text-align: center;
			font-size: 1em;

		}
		

	}

}



.content {

	&__cell {
		width: 85%;
		margin: 0 auto;
		padding-top: 5.5em;

		@media screen and (max-width: 1024px) {
			width: 95%;
		}

		&--about {
			padding-top: 5em;
		}
	}

	&__portfolio {
		background: #000;
	}

	&__header {
		color: #fff;
		text-align: center;
		font-size: 2.7em;
		text-transform: capitalize;
		margin-bottom: .4em;

		@media screen and (max-width: 425px) {
			font-size: 2.2em;

		}

		&--about {

			@media screen and (max-width: 425px) {
				
			}
		}

	}

	&__text {
		color: #fff;
		text-align: center;
		font-size: 1.3em;

		@media screen and (max-width: 425px) {
			font-size: 1em;
			line-height: 1.4;

		}
	}

	&__view-portofolio { 
		
		text-align: center;
		width: 180px;
		//border:2px solid #fff;
		margin: 0 auto;
		// padding: 1.5em 0 1em 0;
		margin-top: 1.5em;
		margin-bottom: 5em;
		// cursor: pointer;

		&:hover {
			color: #045F8C;
		}
	}

	&__view-link {
		text-decoration: none;
		display: block;
		color: #fff;
		font-size: 1em;
		font-weight: 700;
		padding: 1.5em 0 1em 0;
		//border:2px solid #fff;
	}


	&__wrap-picture {
		width: 100%;
	}

	&__picture {
		float: left;
		width: 33.3%;

		padding: .5em;




		@media screen and (max-width: 1024px) {
			width: 50%;
		}

		@media screen and (max-width: 425px) {
			width: 100%;
		}
		position: relative;
		// transition: all 2s;
		

		&:hover .content__text-picture {
			//display: block;
			opacity: 1;
		}
		
	}

	&__link-picture {
		text-decoration: none;
		display: block;
		width: 100%;
		height: 250px;
	}

	&__image {
		min-width: 100%;
	    min-height: 100%;
	    
	    @media screen and (max-width: 768px) {
			max-width: 100%;
		}
	}

	&__text-picture {

		padding: .5em;

		color: #fff;
		background: #000;
		font-size: 1.1em;
		padding: 1.1em 1em;
		position: absolute;
		bottom: .4em;
		// width: 100%;
		width: 96.5%;
		//display: none;
		opacity: 0;
		transition: all .9s ;
	}

	&__about-blog {
		width: 100%;
		background: #fff;
	}

	&__wrap-about {
		width: 50%;
		margin: 0 auto;

		@media screen and (max-width: 1024px) {
			width: 70%;		
		}

		@media screen and (max-width: 768px) {
			width: 85%;		
		}
	}

}



.wrap-description {
	//border: 1px solid red;

	&__blog-text {
		color: #333;
		line-height: 1.8;
		font-size: 1em;
		padding-top: 4em;


	}

	&__blog-image {
		float: left;
		margin-right: 20px;
		border: 3px solid #000;
		width: 150px;
		height: 150px;

		@media screen and (max-width: 425px) {
			float: none;
			display: block;
			margin: 0 auto;
			margin-bottom: 2em;	
		}

	}

	&__sub-text {
		color: #333;
		line-height: 1.8;
		font-size: 1em;
		margin: 1.3em 0;
	}

	
}

.about-list {

	list-style: inherit;
	padding-left: 1em;
	&__item {
		color: #333;
		line-height: 1.8;
		font-size: 1em;
		// padding-left: 1em;

	}

	&__sublist {
		list-style: circle;
		padding-left: 2em;
	}

	&__sublist-item {

	}
}

.about-title,
.about-subtitle {
	color: #000;
	font-size: 1.8em;
	font-weight: 900;
	margin: 1em 0;

}


.banner {

	&__item {
		//border: 1px solid red;
		width: 90px;
		text-align: center;
		display: inline-block;
		// margin: 0 1.5em 1.5em 0;
		margin-right: 1em;
	}
	

	&__image {
		
	}

	&__text {
		text-align: center;
		text-transform: uppercase;
		font-size: .95em;
		// 
		line-height: 1.6; 
	}

}



.footer {
	background: #000;

	
	padding-bottom: 2em;
	
	
	&__title {
		text-decoration: none;
		text-align: center;
		display: block;
		color: #fff;
		font-size: 1.1em;
		text-transform: uppercase;
		padding: 1em 0;
		font-weight: 700;
		transition: .2s;
		background:  #2098d1;

		&:hover {
			background: #045F8C;
		}

		&:active {
			border: 1px dotted #fff;
		}

	}

	&__title-icon {
		margin-left: .5em;
	}

	&__cell {
		width: 85%;
		margin: 0 auto;
		margin-top: 5em;

		@media screen and (max-width: 1024px) {
			width: 95%;
		}


		@media screen and (max-width: 425px) {
			margin-top: 3em;

		}
	}

	&__item {
		width: 33.3%;
		float: left;
		padding-right: 3em;


		@media screen and (max-width: 425px) {
			width: 100%;
			padding-right: 0;

		}
	}

	&__picture {
		width: 90px;
		height: 90px;
		float: left;
		margin: 0 1em 0em 0;
	}

	&__description {
		color: #ccc;
		font-size: .88em;
		line-height: 1.5;
		
	}

	&__header {
		color: #fff;
		// text-transform: uppercase;
		// font-size: 1.1em;
		// font-weight: 700;
		// margin-bottom: .5em;


		@media screen and (max-width: 425px) {
			margin-top: 2em;
			text-align: center;
			font-size: 1.2em;

		}



	}

	&__header-link {
		text-decoration: none;
		color: #fff;
		text-transform: uppercase;
		font-size: 1.1em;
		font-weight: 700;
		margin-bottom: .5em;
		display: block;
	}

	&__text {
		color: #ccc;
		font-size: .85em;
		margin-bottom: 2em;

		@media screen and (max-width: 425px) {
			display: none;
			//opacity: 0;

		}


	}

	&__text-icon {
		color: #fff;
		font-size: 1.8em;
		padding-right: .5em;
	}


}

